.Layout {
    min-height: 100vh;
    z-index: 1;
}

@media (max-width: 500px) {
    .body {
      width: 100%;
    }
  }@media (min-width: 500px) {
    .body {
      width: 85%;
    }
  }

.fullbody {
    width: 100%;
}

.WhiteContainer {
    min-height: 92.4vh;
}