@import url('https://fonts.googleapis.com/css?family=Modak');

.Game {
}

.TurnText {
  display: grid;
  grid-template-columns: fit-content(100%) fit-content(100%);
  column-gap: 2px;
  row-gap: 2px;
  justify-content: end;
}



@media (min-width: 992px) {

  .MyFleetBoard {
    padding-right: 3rem!important;
    border-right: 1px solid #dee2e6!important;
  }
  .EnemyFleetBoard {
    padding-left: 3rem!important;
  }
}